.wrap  {
    max-width: 200%; 
    height: 200%; 
    text-align: center;
}

.text_with_level {
    width: 100%;
    height: 100%;
    text-align: center;
}

.answer_1 {
    width: 100%;
    height: 100%;
    text-align: left;
}

.picture_for_first_question {
    width: 50%;
    height: 50%;
    text-align: center;
}

.first_que {
    width: 100%;
    height: 100%;
    text-align: center;
}

.picture_for_second_question {
    width: 50%;
    height: 50%;
    text-align: center;
}